.img {
    text-align: center;
}
.search{
    text-align: center;
    background-color: #EEEEEE;
    width: 89%;
    margin-left: 5.5%;
}
.intro{
    /*background-color: rgb(183, 0, 6);*/
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
}
.left{
    background-color: #7EE5DA;
    text-align: center;
    width: 33%;
}
.center{
    background-color: #70CCC2;
    display: block;
    text-align: center;
    width: 33%;

}
.right{
    background-color: #62B3AA;
    text-align: center;
    width: 33%;

}